/*
  We're using CSS transitions for when
  the enter and move events are triggered
  for the element that has the .repeated-item
  class
*/
.repeated-item.ng-enter{
    opacity: 0;
    -webkit-animation:1s rollIn;
    -moz-animation:2s my_animation;
    -o-animation:2s my_animation;
    animation:1s rollIn;
}

.searchContainer.ng-show-add{
    -webkit-transition:all linear 0.3s;
    -moz-transition:all linear 0.3s;
    -o-transition:all linear 0.3s;
    transition:all linear 0.3s;
}

.animate-show {
    position: absolute;
    top: 0px;
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
    line-height:20px;
    opacity:1;
    padding:10px;
    border:1px solid black;
    background:white;
}

.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
    display:block!important;
}

.animate-show.ng-hide {
    line-height:0;
    opacity:0;
    padding:0 10px;
}
